{% extends "index.html" %}
{% load i18n static %}

{% block extrahead %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'file_validation/css/styles.css' %}">
<script type="text/javascript" charset="utf8" src="{% static 'file_validation/js/main.js' %}"></script>
{% endblock extrahead %}

{% block dashboard %}
<div class="justify-content-center my-3">
    {% if user.is_authenticated %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if not display_csv %}
        <form action="{% url 'file_validation:main' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
                <div class="col-md-12">
                    <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
                </div>                    
            </div>
            <div class="form-group">                    
                <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary my-3"> <span class="" style="margin-right:5px;"></span>Upload </button>
                </div> 
            </div>
        </form>

        {% else %}
        <table id="table" class="display dt-responsive nowrap">
          <thead>
            <tr>
              {% for header in headers%}
              <th class="px-2 py-1">{{ header }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for type in data_type %}
              <td class="px-2 py-1">{{ type }}</td>
              {% endfor %}
            </tr>
            <tr>
              {% for row in data%}
              <td class="px-2 py-1">{{row}}</td>
              {% endfor %}
            </tr>
          </tbody>
          </table>
        {% endif %}
    {% endif %}
</div>
{% endblock dashboard %}
