html, body {
    margin: 0;
    padding: 0;
    height: 100%;  /* needed for container min-height */
    background: #b4fee7b2;
}

header {
    background: #FD49A0;
}

main > div > div.container {
    background: #f8f9fa;
}

footer {
    background: #A16AE8;
}