html, body {
    margin: 0;
    padding: 0;
    height: 100%;  /* needed for container min-height */
    background: #b4fee7b2;
}

header {
    background: #FD49A0;
}

main > div > div.container {
    background: #f8f9fa;
}

ul.messages {
    padding: 0;
}

ul.messages > li {
    text-align: center;
    list-style: none;
    padding: 0.5rem 1rem;
}

ul.messages > li.error {
    color: crimson;
    border: crimson solid 1px;
}

/* CSV Table properties*/
th {
    background-color: #D6EEEE;
}

th, td {
    border-right: 1px solid #ddd;
}

tr {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #D6EEEE;
}

footer {
    background: #A16AE8;
}